<% include ../partials/header.ejs %>


<h1>You're personal Watch List</h1>
<div class="container" id="table">
	<% if (user) { %>
		<a href="/watchs/add"> Add a new Show </a>
	<% } %>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Rating</th>
			<th>Genre</th>
			<th>Seasons</th>
			<% if (user) { %>
				<th>Edit - Delete</th>
			<% } %>
		</tr>
		<% for (var i = 0; i < watchs.length; i++) { %>
			<tr>
				<td><%= watchs[i].title %></td>
				<td><%= watchs[i].rating %></td>
				<td><%= watchs[i].genre %></td>
				<td><%= watchs[i].seasons %></td>
				<% if (user) { %>
					<td>
						<a  href="/watchs/edit<%= watchs[i]._id %>"class="btn btn-success">Edit List</a>
						<a href="/watchs/delete/<%= watchs[i]._id%>"class="btn btn-warning confirmation">Delete Media</a>
					</td>
				<% } %>
			</tr>
		<% } %>
	</table>
</div>
<% include ../partials/footer.ejs %>
